* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --main-color: #e7b02f;
  --de-color: aqua;
  --background-color: #252122;
}
:root {
  @media (prefers-color-scheme: dark) {
    background-color: var(--background-color);
    color: var(--main-color);
  }
}
