.step {
  flex: 1;
  flex-wrap: wrap;
  height: fit-content;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: var(--main-color);
  border-radius: 10px;
  border: 1px solid var(--background-color);
  opacity: 0.6;
}
.stepDisplay {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.step h3 {
  color: var(--background-color);
}

.step small {
  padding: 1rem;
  border-radius: 50%;
}

.step p,
.step h3,
.step .arrow {
  display: none;
}

.active {
  background-color: var(--main-color);
  opacity: 1;
  flex: 2;
}

.active p,
.active h3 {
  display: block;
}
/* .active small {
  display: none;
} */

.step:hover {
  cursor: pointer;
  opacity: 0.8;
}

.active:hover {
  opacity: 1;
}
